
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@if (ViewBag.Exist != false)
{
    <div>
        <p>
            SmartShop has just sent an email. Please check your email to reset your password.
        </p>
    </div>

}
else
{
    <div>
        <p>
            Your email does not exist.
        </p>
    </div>
}


