@{
    ViewBag.Title = "Contact";
}
<h2>Contact us:</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Professional Project<br />
    CDU<br />
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:s295076@students.cdu.edu.au">s295076@students.cdu.edu.au</a><br />
</address>