@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>Welcome</h2>
<div data-ng-app="SmartShopModule">
    <div id="product" ng-controller="SmartShopController">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>User</th>
            </tr>
            <tbody data-ng-repeat="prod in product">
                <tr>
                    <td>{{prod.ProductId}}</td>
                    <td>{{prod.ProductName}}</td>
                    <td>{{prod.ProductPrice}}</td>
                    <td>{{prod.UserID}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
