@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Smart Shop </h1>
    <p>welcome to the online todo List app.</p>
</div>

<div >
    <h6>Welcome to register for our app</h6>
    @Html.ActionLink("Register", "Register", "Account")<br>
    <h6>For exisitng customers</h6>
    @Html.ActionLink("Login", "Login", "Account")


</div>