
@{
    ViewBag.Title = "Index";
}


@Scripts.Render("~/bundles/angularJs")
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>

<div data-ng-app="SmartShopModule">
   
    <div class="row">
        <h2>Welcome</h2>
        <a class="btn-floating btn-large waves-effect right waves-light teal" data-toggle="modal" data-target="#myModal" ><i class="material-icons">add</i></a>
    </div>
   
    <div id="product" ng-controller="SmartShopController" >
        
        <div class="panel panel-default"  data-ng-repeat="prod in product">
            <div class="panel-body"  >
                <div class="row">
                  
                    <div class="col-sm-10" ng-click="getProductId(prod.ProductId)">
                        <h5><b>{{prod.ProductName}}</b></h5>
                        <h6>AUD {{prod.ProductPrice}} </h6>
                        <p>{{prod.ProductDescription}}</p>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-success"  ng-click="AddToCart(prod.ProductId)">
                            <span class="glyphicon glyphicon-plus"></span> 
                        </a>
                    </div>
                 </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s10" hidden="hidden">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="ProductId" type="text" class="validate" ng-model="ProductId">
                                        <label for="ProductId">Product Id</label>
                                    </div>
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="ProductName" type="text" class="validate" ng-model="ProductName">
                                        <label for="ProductName">Product Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="ProductCategory" type="text" class="validate" ng-model="ProductCategory">
                                        <label for="ProductCategory">Product Category</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="ProductDescription" type="text" class="validate" ng-model="ProductDescription">
                                        <label for="ProductDescription">Product Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="ProductQuantity" type="text" class="validate" ng-model="ProductQuantity">
                                        <label for="ProductQuantity">Product Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="ProductPrice" type="number" class="validate" ng-model="ProductPrice">
                                        <label for="ProductPrice">Price</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addProduct();">Add</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="ViewModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s10 hidden">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateId" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateId" class="validate">
                                        <label for="ProductId">Id</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateName" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateName" class="validate">
                                        <label for="ProductName">Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateCategory" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateCategory" class="validate">
                                        <label for="ProductDescription">Category</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateDescription" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateDescription" class="validate">
                                        <label for="ProductDescription">Description</label>
                                    </div>
                                </div>>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateQuantity" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateQuantity" class="validate">
                                        <label for="ProductQuantity">Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input placeholder="Placeholder" id="UpdateDescription" type="text" ng-disabled="disable" required ng-init="disable=true" ng-model="updateDescription" class="validate">
                                        <label for="ProductDescription">Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10">
                                        <i class="material-icons prefix">lock</i>
                                        <input placeholder="Placeholder" id="UpdatePrice" type="number" ng-disabled="disable" required ng-init="disable=true" ng-model="updatePrice" class="validate">
                                        <label for="ProductPrice">Price</label>
                                    </div>
                                </div>
                            </form>
                            <button type="button" class="btn btn-default right" data-dismiss="modal" ng-show="updateButton" ng-click="updateProduct();">Update</button>
                            <button type="button" class="btn btn-default right" data-dismiss="modal" ng-show="deleteButton" ng-click="deleteProduct();">Delete</button>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <div class="fixed-action-btn horizontal">
                            <a class="btn-floating btn-large red">
                                <i class="large material-icons">menu</i>
                            </a>
                            <ul>
                                <li><a class="btn-floating red" ng-click="enableEdit();"><i class="material-icons">mode_edit</i></a></li>
                                <li><a class="btn-floating yellow darken-1" ng-click="enableDelete();"><i class="material-icons">delete</i></a></li>
                                <li><a class="btn-floating blue"><i class="material-icons">clear</i></a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <style>
          

        </style>
    </div>
    
    

</div>
